<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.vihv.mouse-inverter</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/vihv/.local/bin/mouse-inverter</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/mouse-inverter.out.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/mouse-inverter.err.log</string>
</dict>
</plist>
